
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200&display=swap');

body{
    background-color: #03203C;
}
div {
    text-align: center;
  }
  
  h1 {
    font-size: 80px;
    font-family: Impact;
    color: white;
    font-family: 'Source Sans Pro', sans-serif;
  }
  button {
    width: 250px;
    height: 80px;
    background-color: #EDC126;
    color: white;
    font-size: 25px;
    border-radius: 35px;
    cursor: pointer;
  }
  p {
    color: white;
    font-size: 35px;
  }
  
  button:hover {
    background-color: green;
  }
  